.heading-2 {
  font-size: 4rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-weight: 400;
  color: $color-primary;

  &--horizontal {
  }

  &--vertical {
  
  }
}

.heading-4 {
  font-size: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: $color-primary;
}